<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for FF ETl Repository DB Server.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >
    <!-- Flowframe props -->
    <context:property-placeholder properties-ref="configAdminProperties"/>

    <!-- Repo Impl -->
    <bean id="dbRepository" class="org.flowframe.etl.pentaho.server.repository.db.repository.DBRepositoryWrapperImpl" init-method="init" scope="singleton">
        <property name="reponame" value="${ff.etl.repo.name}"/>
        <property name="repodescription" value="${ff.etl.repo.description}"/>
        <property name="username" value="${ff.etl.repo.user.name}"/>
        <property name="userpassword" value="${ff.etl.repo.user.pwd}"/>
        <property name="userfullname" value="${ff.etl.repo.user.fullname}"/>
        <property name="dbhostname" value="${ff.etl.repo.database.hostname}"/>
        <property name="dbusername" value="${ff.etl.repo.database.username}"/>
        <property name="dbuserpassword" value="${ff.etl.repo.database.pwd}"/>
        <property name="dbtype" value="${ff.etl.repo.database.type}"/>
        <property name="dbname" value="${ff.etl.repo.database.name}"/>
        <property name="dbport" value="${ff.etl.repo.database.port}"/>
    </bean>
</beans>
