.process-icon {
    background-image:url(/etl/images/conxbi/etl/process_icon.gif) !important;
}
.transformation-icon {
    background-image:url(/etl/images/conxbi/etl/transformation.png) !important;
}
.property-icon {
    background-image:url(/etl/images/conxbi/etl/property.png) !important;
}

.up-icon {
    background-image:url(/etl/images/conxbi/etl/up.png) !important;
}

.add-icon {
     background-image:url(/etl/images/conxbi/etl/add.gif) !important;
 }

.find-job-icon {
    background-image:url(/etl/images/conxbi/etl/find_job.png) !important;
}

.palette-icon {
    background-image:url(/etl/images/conxbi/etl/palette.gif) !important;
}

.select_icon {
    background-image:url(/etl/images/conxbi/etl/dots_button.gif) !important;
}

.edit_icon {
    background-image:url(/etl/images/silk/icons/application_form_edit.png) !important;
}

.run_exc_icon {
    background-image:url(/etl/images/conxbi/etl/run_exc.gif) !important;
}

.process_run_icon {
    background-image:url(/etl/images/conxbi/etl/process_run.gif) !important;
}











