.process-icon {
    background-image:url(/etl/images/conxbi/etl/process_icon.gif) !important;
}
.property-icon {
    background-image:url(/etl/images/conxbi/etl/property.png) !important;
}

.up-icon {
    background-image:url(/etl/images/conxbi/etl/up.png) !important;
}

.add-icon {
     background-image:url(/etl/images/conxbi/etl/add.gif) !important;
 }

.find-job-icon {
    background-image:url(/etl/images/conxbi/etl/find_job.png) !important;
}

.palette-icon {
    background-image:url(/etl/images/conxbi/etl/palette.gif) !important;
}










