<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for GreenPages JPA.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">
    <!-- Flowframe props -->
    <context:property-placeholder properties-ref="configAdminProperties"/>

    <!-- Flowframe Liferay ECM API-->
    <bean id="lplDocLibService"
          class="org.flowframe.documentlibrary.remote.services.impl.LiferayPortalDocumentRepositoryImpl"
          init-method="init">
        <property name="repositoryId" value="${ff.docrepo.repository.id}"/>
        <property name="companyId" value="${ff.docrepo.repository.companyid}"/>
        <property name="fflogiFolderId" value="${ff.docrepo.repository.main.folderid}"/>
        <property name="loginEmail" value="${ff.docrepo.user.email}"/>
        <property name="loginPassword" value="${ff.docrepo.user.password}"/>
        <property name="hostname" value="${ff.docrepo.server.hostname}"/>
        <property name="port" value="${ff.docrepo.server.port}"/>
        <property name="loginGroupId" value="${ff.docrepo.user.group.id}"/>
    </bean>

    <!-- Repo Impl -->
    <bean id="systemProperties" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetObject">
            <!-- System.getProperties() -->
            <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
                <property name="targetClass" value="java.lang.System"/>
                <property name="targetMethod" value="getProperties"/>
            </bean>
        </property>
        <property name="targetMethod" value="putAll"/>
        <property name="arguments">
            <!-- The new Properties -->
            <util:properties>
                <prop key="KETTLE_PLUGIN_CLASSES">org.flowframe.etl.pentaho.plugin.di.job.entries.docrepo.fileget.RepoFileGet</prop>
            </util:properties>
        </property>
    </bean>

    <bean id="repository" class="org.flowframe.etl.pentaho.server.repository.db.repository.DBRepositoryWrapperImpl"
          init-method="init"
          scope="singleton"
          depends-on="systemProperties">
        <property name="reponame" value="${ff.etl.repo.name}"/>
        <property name="repodescription" value="${ff.etl.repo.description}"/>
        <property name="username" value="${ff.etl.repo.user.name}"/>
        <property name="userpassword" value="${ff.etl.repo.user.pwd}"/>
        <property name="userfullname" value="${ff.etl.repo.user.fullname}"/>
        <property name="dbhostname" value="${ff.etl.repo.database.hostname}"/>
        <property name="dbusername" value="${ff.etl.repo.database.username}"/>
        <property name="dbuserpassword" value="${ff.etl.repo.database.pwd}"/>
        <property name="dbtype" value="${ff.etl.repo.database.type}"/>
        <property name="dbname" value="${ff.etl.repo.database.name}"/>
        <property name="dbport" value="${ff.etl.repo.database.port}"/>
    </bean>


    <!--
        REST Resources
    -->
    <bean id="databaseMetaDAO" class="org.flowframe.etl.pentaho.server.plugins.core.resource.DatabaseMetaResource"
          scope="request"/>
    <bean id="databaseTypeDAO" class="org.flowframe.etl.pentaho.server.plugins.core.resource.DatabaseTypeResource"
          scope="request"/>
    <bean id="repositoryExplorer"
          class="org.flowframe.etl.pentaho.server.plugins.core.resource.RepositoryExplorerResource" scope="request"/>
    <bean id="docLibExplorer"
          class="org.flowframe.etl.pentaho.server.plugins.core.resource.repository.doclib.DocLibExplorerResource"
          scope="request"/>
    <bean id="charSet" class="org.flowframe.etl.pentaho.server.plugins.core.resource.reference.CharsetEncodingResource"
          scope="request"/>
    <bean id="transformationJobServiceResource"
          class="org.flowframe.etl.pentaho.server.plugins.core.resource.carte.TransformationJobServiceResource"
          scope="request"/>
    <bean id="transformationMetaResource"
          class="org.flowframe.etl.pentaho.server.plugins.core.resource.TransformationMetaResource"
          scope="request"/>

    <!--
       CSVInput
    -->
    <!--
        <bean class="org.flowframe.etl.pentaho.repository.db.resource.etl.trans.steps.csvinput.CSVInputDialogDelegateResource" scope="request"/>
    -->
</beans>
